TravelApp\obj\*.*
TravelApp\bin\*.*
.vs\
.vs/config/applicationhost.config
.vs/TravelApp/v14/.suo
.vs/TravelApp/v15/.suo
.vs/TravelApp/v15/Server/sqlite3/db.lock
.vs/TravelApp/v15/Server/sqlite3/storage.ide
.vs/TravelApp/v15/Server/sqlite3/storage.ide-shm
.vs/TravelApp/v15/Server/sqlite3/storage.ide-wal
TravelApp/App_Data/aspnet-TravelApp-20190415063011.mdf
TravelApp/App_Data/aspnet-TravelApp-20190415063011_log.ldf
TravelApp/bin/Microsoft.Azure.KeyVault.Core.xml
TravelApp/bin/Microsoft.WindowsAzure.Storage.dll
TravelApp/bin/Microsoft.WindowsAzure.Storage.pdb
TravelApp/bin/Microsoft.WindowsAzure.Storage.xml
TravelApp/bin/Newtonsoft.Json.dll
TravelApp/bin/Newtonsoft.Json.xml
TravelApp/bin/TravelApp.dll
TravelApp/bin/TravelApp.dll.config
TravelApp/bin/TravelApp.pdb
TravelApp/bin/Newtonsoft.Json.dll
TravelApp/bin/Newtonsoft.Json.xml
TravelApp/bin/TravelApp.dll
TravelApp/bin/TravelApp.dll.config
TravelApp/bin/TravelApp.pdb
TravelApp/bin/Newtonsoft.Json.dll
TravelApp/bin/Newtonsoft.Json.xml
TravelApp/bin/TravelApp.dll
TravelApp/bin/TravelApp.dll.config
TravelApp/bin/TravelApp.pdb
TravelApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TravelApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TravelApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TravelApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TravelApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TravelApp/obj/Debug/TravelApp.csproj.CopyComplete
TravelApp/obj/Debug/TravelApp.csproj.CoreCompileInputs.cache
TravelApp/obj/Debug/TravelApp.csproj.FileListAbsolute.txt
TravelApp/obj/Debug/TravelApp.csprojAssemblyReference.cache
TravelApp/obj/Debug/TravelApp.dll
TravelApp/obj/Debug/TravelApp.pdb
TravelApp/bin/TravelApp.pdb
TravelApp/bin/TravelApp.dll.config
