.headerTextPrimary {
            color: blue;
            font-family: Calibri;
            font-size: 200%;
}

.headerTextSecondary {
            color: blue;
            font-family: Calibri;
            font-size: 100%;
}