<script src="../../scripts/jquery-1.10.2.js"></script>
<script src="../../scripts/albums.js"></script>
@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>

<div id="create-album">
    <button onclick="createAlbum()">Create Album</button>
</div>
<div id="albums"></div>

