@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Images</title>
</head>
<body>
    <h1>
        Your Images
    </h1>
    <span>
        @if (ViewBag.imageUrls.Count != 0)
        {
            foreach (var item in ViewBag.imageUrls)
            {
                <img src="@item" height="400" width="400">
            }
        }
        else
        {
                @ViewBag.message
        }

    </span>
</body>
</html>
