@using TravelApp.WebAPIs
@{
    Layout = "";
}

<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../scripts/images.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/common.css" type="text/css" />
<link rel="stylesheet" href="~/Content/images.css" type="text/css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.albumName</title>
</head>
<body>
    <h1 class="headerTextPrimary">
        @ViewBag.albumName
    </h1>
    <div>
        <br />
        <input type="file" id="FileUpload1" multiple="multiple" />
        <input type="button" id="btnUpload" value="Upload Files" />
        <input type="button" id="btnDeleteAlbum" value="Delete Album" />
        <hr />
    </div>
    <br />
    <br />
    <span style="display:flex; flex-wrap:wrap">
        @if (ViewBag.imageUrls != null && ViewBag.imageUrls.Count != 0)
        {
            foreach (var item in ViewBag.imageUrls)
            {
                <div class="container">
                    <img src="@item" height="400" width="400">
                    <div class="overlay" onclick="OnDeleteItemClicked('@item')">
                        <a href="#" class="icon" title="Delete Image">
                            <i class="fa fa-user"></i>
                        </a>
                    </div>
                </div>
}
        }
        else
        {
                @ViewBag.message
        }
    </span>
</body>

</html>
